In [63]:
import numpy as np
import pandas as pd
import seaborn as sns
import operator
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [64]:
movie_bd = pd.read_csv('movie_bd_v5.csv')

In [65]:
movie_bd.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1441,tt0458352,35000000,326551094,The Devil Wears Prada,Meryl Streep|Anne Hathaway|Emily Blunt|Stanley...,David Frankel,Meet Andy Sachs. A million girls would kill to...,The Devil Wears Prada is about a young journal...,109,Comedy|Drama|Romance,Twentieth Century Fox Film Corporation|Dune En...,6/30/2006,7.0,2006
532,tt0244244,102000000,147080413,Swordfish,John Travolta|Hugh Jackman|Halle Berry|Don Che...,Dominic Sena,Log On. Hack In. Go Anywhere. Get Everything.,Rogue agent Gabriel Shear is determined to get...,99,Action|Crime|Thriller,Village Roadshow Pictures|NPV Entertainment|Si...,6/7/2001,6.0,2001
483,tt1456941,27000000,16504936,"Tomorrow, When the War Began",Caitlin Stasey|Rachel Hurd-Wood|Phoebe Tonkin|...,Stuart Beattie,Where were you when everything changed?,"Ellie Linton, a teen from an Australian coasta...",103,Action|Adventure|Drama,Omnilab Media|Ambience Entertainment,8/8/2010,6.5,2010
821,tt0376136,45000000,24000000,The Rum Diary,Johnny Depp|Amber Heard|Aaron Eckhart|Michael ...,Bruce Robinson,One part outrage. One part justice. Three part...,Tired of the noise and madness of New York and...,120,Drama|Comedy,FilmEngine|Infinitum Nihil|GK Films,10/13/2011,5.5,2011
1136,tt0318155,80000000,68514844,Looney Tunes: Back in Action,Brendan Fraser|Jenna Elfman|Steve Martin|Timot...,Joe Dante,Real life has never been so animated.,Bugs Bunny and Daffy Duck are up to their feud...,90,Animation|Comedy|Family,Lonely Film Productions GmbH & Co. KG.|Warner ...,11/14/2003,5.5,2003

# Предобработка

In [66]:
answers = {} # создадим словарь для ответов

# 1. У какого фильма из списка самый большой бюджет?

In [67]:
answer_1 = movie_bd.sort_values(by='budget').iloc[-1].original_title 
answer_1

'Pirates of the Caribbean: On Stranger Tides'

In [68]:
answers['1'] = answer_1

ВАРИАНТ 2

In [69]:
movie_bd[movie_bd.budget == movie_bd.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [70]:
answer_2 = movie_bd.sort_values(by='runtime').iloc[-1].original_title
answer_2

'Gods and Generals'

In [71]:
answers['2'] = answer_2

# 3. Какой из фильмов самый короткий (в минутах)?

In [72]:
answer_3 = movie_bd.sort_values(by='runtime').iloc[0].original_title
answer_3

'Winnie the Pooh'

In [73]:
answers['3'] = answer_3

# 4. Какова средняя длительность фильмов?

In [74]:
answer_4 = round(movie_bd.runtime.mean())
answer_4

110

In [75]:
answers['4'] = answer_4

# 5. Каково медианное значение длительности фильмов?

In [76]:
answer_5 = int(movie_bd.runtime.median())

In [77]:
answers['5'] = answer_5

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [78]:
movie_bd_profit = movie_bd.copy()
movie_bd_profit['profit'] = movie_bd_profit['revenue'] - movie_bd_profit['budget']
answer_6 = movie_bd_profit.sort_values(by='profit').iloc[-1].original_title
answer_6

'Avatar'

In [79]:
answers['6'] = answer_6

# 7. Какой фильм самый убыточный?

In [80]:
answer_7 = movie_bd_profit.sort_values(by='profit').iloc[0].original_title
answer_7

'The Lone Ranger'

In [81]:
answers['7'] = answer_7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [82]:
answer_8 = len(movie_bd_profit[movie_bd_profit['profit'] > 0])
answer_8

1478

In [83]:
answers['8'] = answer_8

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [84]:
answer_9 = movie_bd[movie_bd.release_year == 2008].sort_values(by='revenue').iloc[-1].original_title
answer_9

'The Dark Knight'

In [85]:
answers['9'] = answer_9

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [86]:
movie_bd_10 = movie_bd_profit.query('2012 <= release_year <= 2014')
answer_10 = movie_bd_10.sort_values(by='profit').iloc[0].original_title
answer_10

'The Lone Ranger'

In [87]:
answers['10'] = answer_10

# 11. Какого жанра фильмов больше всего?

In [88]:
c =  Counter()
for item in movie_bd.genres:
    film_genres = item.split('|')
    for genres in film_genres:
        c[genres] += 1
dict_genres = dict(c)
answer_11 = max(dict_genres.items(), key=operator.itemgetter(1))[0]
answer_11

'Drama'

In [89]:
answers['11'] = answer_11

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [90]:
c =  Counter()
for item in movie_bd_profit.query('profit > 0').genres:
    film_genres = item.split('|')
    for genres in film_genres:
        c[genres] += 1
dict_genres = dict(c)
answer_12 = max(dict_genres.items(), key=operator.itemgetter(1))[0]
answer_12

'Drama'

In [91]:
answers['12'] = answer_12

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [92]:
movie_bd_13 = movie_bd.groupby(['director'])['revenue'].sum().sort_values()
answer_13 = movie_bd_13.index[-1]
answer_13

'Peter Jackson'

In [93]:
answers['13'] = answer_13

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [94]:
movie_bd_14 = movie_bd[movie_bd.genres.str.contains('Action')]
c = Counter()
for director in movie_bd_14.director:
    directors = director.split('|')
    for i in directors:
        c[i] += 1
dict_directors = dict(c)
answer_14 = max(dict_directors.items(), key=operator.itemgetter(1))[0]
answer_14

'Robert Rodriguez'

In [95]:
answers['14'] = answer_14

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [96]:
movie_15 = movie_bd[movie_bd.release_year == 2012]
movie_15.cast = movie_15.cast.str.split('|')
movie_15 = movie_15.explode('cast').groupby(['cast'])['revenue'].sum().sort_values()
answer_15 = movie_15.index[-1]
answer_15

C:\Users\Professional\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

'Chris Hemsworth'

In [97]:
answers['15'] = answer_15

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [98]:
movie_16 = movie_bd.query('budget > budget.mean()')
movie_16['cast'] = movie_16.cast.str.split('|')
movie_16 = movie_16.explode('cast')
c = Counter()
for actor in movie_16.cast:
    c[actor] += 1
dict_actors = dict(c)
answer_16 = max(dict_actors.items(), key=operator.itemgetter(1))[0]
answer_16

<ipython-input-98-185546f78c69>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_16['cast'] = movie_16.cast.str.split('|')

'Matt Damon'

In [99]:
answers['16'] = answer_16

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [100]:
movie_17 = movie_bd[movie_bd.cast.str.contains('Nicolas Cage')]
movie_17['genres'] = movie_17.genres.str.split('|')
movie_17 = movie_17.explode('genres')
c = Counter()
for genre in movie_17.genres:
    c[genre] += 1
dict_genres = dict(c)
answer_17 = max(dict_genres.items(), key=operator.itemgetter(1))[0]
answer_17

<ipython-input-100-2656756506c6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_17['genres'] = movie_17.genres.str.split('|')

'Action'

In [101]:
answers['17'] = answer_17

# 18. Самый убыточный фильм от Paramount Pictures

In [102]:
movie_18 = movie_bd_profit[movie_bd_profit.production_companies.str.contains('Paramount Pictures')]
answer_18 = movie_18.sort_values(by='profit').iloc[0].original_title
answer_18

'K-19: The Widowmaker'

In [103]:
answers['18'] = answer_18

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [104]:
movie_19 = movie_bd.groupby(['release_year'])['revenue'].sum()
answer_19 = movie_19.sort_values().index[-1]
answer_19

2015

In [105]:
answers['19'] = answer_19

# 20. Какой самый прибыльный год для студии Warner Bros?

In [106]:
movie_20 = movie_bd_profit[movie_bd_profit.production_companies.str.contains('Warner Bros')]
movie_20 = movie_20.groupby(['release_year'])['profit'].sum()
answer_20 = movie_20.sort_values().index[-1]
answer_20

2014

In [107]:
answers['20'] = answer_20

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [108]:
movies_month = 0
for month in range(1,13):
     if len(movie_bd[movie_bd.release_date.str.match((str(month)+'/'))]) > movies_month:
            movies_month = len(movie_bd[movie_bd.release_date.str.match((str(month)+'/'))])
            answer_21N = month
month_name = ('Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь').split(',')
answer_21 = month_name[answer_21N - 1]
answer_21

'Сентябрь'

In [109]:
answers['21'] = answer_21

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [110]:
answer_22 = len(movie_bd[movie_bd.release_date.str.match('6|7|8')])
answer_22

450

In [111]:
answers['22'] = answer_22

# 23. Для какого режиссера зима – самое продуктивное время года?

In [112]:
movie_23 = movie_bd[movie_bd.release_date.str.match('1/|2/|12/')]
movie_23['director'] = movie_23.director.str.split('|')
movie_23 = movie_23.explode('director')
c = Counter()
for director in movie_23.director:
    c[director] += 1
dict_directors = dict(c)
answer_23 = max(dict_directors.items(), key=operator.itemgetter(1))[0]
answer_23

<ipython-input-112-8fd3d1c48109>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_23['director'] = movie_23.director.str.split('|')

'Peter Jackson'

In [113]:
answers['23'] = answer_23

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [114]:
movie_24 = movie_bd.copy()
movie_24['original_title'] = movie_24.original_title.apply(lambda x : len(x))
movie_24['production_companies'] = movie_24.production_companies.str.split('|')
movie_24 = movie_24.explode('production_companies')
answer_24 = movie_24.sort_values(by = 'original_title').iloc[-1].production_companies
answer_24

'Four By Two Productions'

In [115]:
answers['24'] = answer_24

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [116]:
movie_25 = movie_bd.copy()
movie_25['overview'] = movie_25.overview.apply(lambda x : len(x))
movie_25['production_companies'] = movie_25.production_companies.str.split('|')
movie_25 = movie_25.explode('production_companies')
movie_25 = movie_25.groupby(['production_companies'])[['overview']].mean().sort_values(by='overview')
answer_25 = movie_25.index[-1]
answer_25

'Midnight Picture Show'

In [117]:
answers['25'] = answer_25

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [118]:
answer_26 = []
movie_bd_per99 = np.percentile(movie_bd.vote_average, 99)
movie_bd_26 = movie_bd[movie_bd.vote_average >= movie_bd_per99]
for movie in movie_bd_26.original_title:
    answer_26.append(movie)
answer_26

['Inside Out',
 'Spotlight',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'Big Hero 6',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'The Theory of Everything',
 'The Fault in Our Stars',
 'Mr. Nobody',
 '3 Idiots',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Dark Knight',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 'Her',
 '12 Years a Slave',
 'Prisoners',
 'Dallas Buyers Club',
 'The Prestige',
 'Eternal Sunshine of the Spotless Mind',
 'There Will Be Blood',
 'Memento']

In [119]:
#Если выбирать ответ из списка предложенных, то подходит лишь первый "Inside Out, The Dark Knight, 12 Years a Slave"
#В этом случае answer_26 = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [120]:
answers['26'] = answer_26

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [121]:
movie_27 = movie_bd.copy()
movie_27['cast'] = movie_27.cast.str.split('|')
movie_27['cast'] = movie_27.cast.apply(lambda x: list(combinations(sorted(x),2)))
movie_27 = movie_27.explode('cast').explode('cast')
answer_27 = movie_27.cast.value_counts().index[0]
answer_27

'Samuel L. Jackson'

In [122]:
answers['27'] = answer_27

# Submission

In [123]:
#  Ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out',
  'Spotlight',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'Big Hero 6',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'The Theory of Everything',
  'The Fault in Our Stars',
  'Mr. Nobody',
  '3 Idiots',
  'Inception',
  'The Lord of the Rings: The Fellowship of the Ring',
  'The Dark Knight',
  'The Lord of the Rings: The Two Towers',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  'Her',
  '12 Years a Slave',
  'Prisoners',
  'Dallas Buyers Club',
  'The Prestige',
  'Eternal Sunshine of the Spotless Mind',
  'There Will Be Blood',
  'Memento'],
 '27': 'Samuel L. Jackson'}

In [124]:
# Количество ответов соответствует количеству вопросов
len(answers)

27